.nav-link {
    position: relative;
  }
  
  .cart-item-count {
    position: absolute;
    top: 2px;
    right: -5px;
    background-color: grey;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
  }
  .nav-link.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
  }
  