.app-container {
    display: grid;
    grid-template-columns: 1fr 0;
    transition: grid-template-columns 0.3s ease;
}

.app-container.panel-open {
    grid-template-columns: 1fr 500px;
}

.side-panel {
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    z-index: 1000;
    transform: translateX(100%);
}

.side-panel.open {
    transform: translateX(0);
}

.side-panel-content {
    padding: 20px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
    z-index: 1000;
}


.product-section .product-item .icon-cross .minus-icon {
    background: none !important;
  }